<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funfunctionforlog.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1ebb89ee-24e6-42b6-9156-ae0922ef807b/resourceGroups/resourcegrpdakshi/providers/Microsoft.Web/sites/funfunctionforlog</ResourceId>
    <UserName>$funfunctionforlog</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://funfunctionforlog.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>